http_interactions:
- request:
    method: get
    uri: https://kobo.correlaid.org/api/v2/assets/auUQptc6zZF89R8bLq2Q8F/data/
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: fakebearertoken
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      allow: GET, HEAD, OPTIONS
      x-kobonaut: super_admin
      content-language: en
    body:
      encoding: UTF-8
      file: no
      string: '{"count":3,"next":null,"previous":null,"results":[{"_id":192,"rating_techniques/clustering":"user","rating_techniques/inferential_statistics":"user","last_name":"Test","rating_techniques/database_management":"user","rating_techniques/neural_networks_and_deep_learn":"user","project_role/oce_04_2021":"team_member","rating_technologies_tools/git":"beginner","project_role/sog_04_2021":"DNA","consent_privacy_policy":"yes","rating_techniques/regressions_and_modelling":"user","_tags":[],"rating_technologies_tools/javascript_frontend":"user","rating_topics/survey_design":"advanced","rating_techniques/data_cleaning":"user","project_role/kob_04_2021":"DNA","project_role/_2021_07_aud":"DNA","project_role/car_04_2021":"team_lead","rating_techniques/data_visualization":"user","rating_technologies_tools/rstats":"beginner","meta/instanceID":"uuid:08ced63d-a15b-4575-8c13-98f83f8ab625","email_address":"frie@test.com","motivation_why":"ertert","rating_techniques/image_data_processing":"user","first_name":"Frie","end":"2021-06-08T10:35:21.577+02:00","rating_topics/data_security":"advanced","rating_topics/theories_of_change_development":"user","project_role/sos_04_2021":"DNA","_status":"submitted_via_web","rating_technologies_tools/html_css":"user","rating_techniques/data_anonymization":"user","start":"2021-06-08T10:33:55.206+02:00","rating_techniques/classification":"user","rating_topics/working_agile":"user","_attachments":[],"rating_technologies_tools/sql":"user","german_skills":"native","project_role/_2021_07_fai":"DNA","project_role/_2021_07_owe":"DNA","_geolocation":[null,null],"project_role/_2021_07_owm":"DNA","_validation_status":{},"_uuid":"08ced63d-a15b-4575-8c13-98f83f8ab625","rating_topics/research_design":"advanced","project_role/_2021_07_cgv":"DNA","project_role/fbb_04_2021":"DNA","operating_system":"windows10","rating_techniques/nlp":"user","project_role/_2021_07_cgo":"team_member","rating_technologies_tools/python":"user","project_role/_2021_07_wid":"DNA","formhub/uuid":"a10d9da976e2497f9e2b4a8ccec39970","rating_topics/data_protection":"advanced","__version__":"vmqp8ipauksAFzF3kS5Nqy","motivation_skills":"dg","gender":"female","rating_technologies_tools/nodejs":"user","rating_techniques/audio_data_processing":"user","rating_topics/indicator_development":"user","_notes":[],"project_role/_2021_07_sil":"team_member","project_id":"CAR-04-2021
        OCE-04-2021 2021-07-SIL 2021-07-CGO","_submitted_by":null,"_submission_time":"2021-06-08T08:35:35","_xform_id_string":"auUQptc6zZF89R8bLq2Q8F","rating_topics/project_management":"user","rating_techniques/descriptive_statistics":"user"},{"_id":193,"rating_techniques/clustering":"user","rating_techniques/inferential_statistics":"beginner","last_name":"user","rating_techniques/database_management":"advanced","rating_techniques/neural_networks_and_deep_learn":"user","project_role/oce_04_2021":"DNA","rating_technologies_tools/git":"user","project_role/sog_04_2021":"DNA","consent_privacy_policy":"yes","rating_techniq[...]
